In [96]:
import pandas as pd

In [126]:
# Load the CSV files of the birds into a DataFrame
blue_teal_df = pd.read_csv('Resources/blue_winged_teal.csv')
flamingo_df = pd.read_csv('Resources/flamingo_and_others.csv')
hummingbirds_df = pd.read_csv('Resources/hummingbirds_and_others.csv')
owls_df = pd.read_csv('Resources/owls_and_others.csv')

# load the extra data to later be merged
bird_data_df = pd.read_csv('Resources/bird_data.csv')
age_df = pd.read_csv('Resources/age.csv')
sex_df = pd.read_csv('Resources/sex.csv')

C:\Users\mitch\AppData\Local\Temp\ipykernel_19884\1185787557.py:2: DtypeWarning: Columns (2,13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  blue_teal_df = pd.read_csv('Resources/blue_winged_teal.csv')
C:\Users\mitch\AppData\Local\Temp\ipykernel_19884\1185787557.py:3: DtypeWarning: Columns (13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  flamingo_df = pd.read_csv('Resources/flamingo_and_others.csv')
C:\Users\mitch\AppData\Local\Temp\ipykernel_19884\1185787557.py:4: DtypeWarning: Columns (2,13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  hummingbirds_df = pd.read_csv('Resources/hummingbirds_and_others.csv')
C:\Users\mitch\AppData\Local\Temp\ipykernel_19884\1185787557.py:5: DtypeWarning: Columns (2,13,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  owls_df = pd.read_csv('Resources/owls_and_others.csv')

In [127]:
# Filter rows to include only the desired years
years_to_keep = list(range(1960, 1971)) + list(range(2010, 2023))

blue_filtered = blue_teal_df[blue_teal_df['EVENT_YEAR'].isin(years_to_keep)]
flamingo_filtered = flamingo_df[flamingo_df['EVENT_YEAR'].isin(years_to_keep)]
hummingbirds_filtered = hummingbirds_df[hummingbirds_df['EVENT_YEAR'].isin(years_to_keep)]
owls_filtered = owls_df[owls_df['EVENT_YEAR'].isin(years_to_keep)]

In [128]:
blue_filtered.columns

Index(['BAND', 'ORIGINAL_BAND', 'OTHER_BANDS', 'EVENT_TYPE', 'EVENT_DATE',
       'EVENT_YEAR', 'EVENT_MONTH', 'EVENT_DAY', 'ISO_COUNTRY',
       'ISO_SUBDIVISION', 'LATITUDE', 'LONGITUDE', 'CP', 'BAND_TYPE',
       'SPECIES_ID', 'BIRD_STATUS', 'EXTRA_INFO', 'AGE_CODE', 'SEX_CODE',
       'PERMIT', 'BAND_STATUS', 'HOW_OBTAINED', 'WHO_OBTAINED',
       'REPORTING_METHOD', 'PRESENT_CONDITION', 'MIN_AGE_AT_ENC',
       'RECORD_SOURCE'],
      dtype='object')

In [129]:
# Define a list of columns to delete
columns_to_delete = ['ISO_SUBDIVISION', 'EVENT_MONTH', 'EVENT_DAY', 'OTHER_BANDS', 'EXTRA_INFO', 'BAND_STATUS', 'HOW_OBTAINED', 'WHO_OBTAINED', 'REPORTING_METHOD', 'PRESENT_CONDITION', 'MIN_AGE_AT_ENC' ]

# Delete the specified columns
blue_filtered_df = blue_filtered.drop(columns=columns_to_delete)
flamingo_filtered_df = flamingo_filtered.drop(columns=columns_to_delete)
hummingbirds_filtered_df = hummingbirds_filtered.drop(columns=columns_to_delete)
owls_filtered_df = owls_filtered.drop(columns=columns_to_delete)

In [130]:
blue_filtered_df.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LATITUDE', 'LONGITUDE', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE'],
      dtype='object')

In [131]:
bird_data_df.columns

Index(['GRP', 'SPECIES_ID', 'ALPHA_CODE', 'SPECIES_NAME', 'SCIENTIFIC_NAME'], dtype='object')

In [132]:
age_df.columns

Index(['   ', 'AGE_CODE', 'AGE_ALPHA_CODE', 'AGE_DESCRIPTION',
       'AGE_EXPLAIN_TEXT'],
      dtype='object')

In [133]:
sex_df.columns

Index(['   ', 'SEX_CODE', 'SEX_DESCRIPTION'], dtype='object')

In [139]:
# merge the extra data into the blue_teal dataset
blue_teal_merged = blue_filtered_df.merge(bird_data_df[['SPECIES_ID', 'SPECIES_NAME', 'SCIENTIFIC_NAME' ]], on='SPECIES_ID', how='left')
blue_teal_merged = blue_teal_merged.merge(age_df[['AGE_CODE', 'AGE_DESCRIPTION']], on='AGE_CODE', how='left')
blue_teal_merged = blue_teal_merged.merge(sex_df[['SEX_CODE', 'SEX_DESCRIPTION']], on='SEX_CODE', how='left')

In [140]:
blue_teal_merged.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LATITUDE', 'LONGITUDE', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE',
       'SPECIES_NAME', 'SCIENTIFIC_NAME', 'AGE_DESCRIPTION',
       'SEX_DESCRIPTION'],
      dtype='object')

In [141]:
flamingo_filtered_df.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LAT_DD', 'LON_DD', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE'],
      dtype='object')

In [142]:
# merge the extra data into the flamingo dataset
flamingo_merged = flamingo_filtered_df.merge(bird_data_df[['SPECIES_ID', 'SPECIES_NAME', 'SCIENTIFIC_NAME' ]], on='SPECIES_ID', how='left')
flamingo_merged = flamingo_merged.merge(age_df[['AGE_CODE', 'AGE_DESCRIPTION']], on='AGE_CODE', how='left')
flamingo_merged = flamingo_merged.merge(sex_df[['SEX_CODE', 'SEX_DESCRIPTION']], on='SEX_CODE', how='left')

In [143]:
flamingo_merged.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LAT_DD', 'LON_DD', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE',
       'SPECIES_NAME', 'SCIENTIFIC_NAME', 'AGE_DESCRIPTION',
       'SEX_DESCRIPTION'],
      dtype='object')

In [145]:
# merge the extra data into the hummingbird dataset
hummingbirds_merged = hummingbirds_filtered_df.merge(bird_data_df[['SPECIES_ID', 'SPECIES_NAME', 'SCIENTIFIC_NAME' ]], on='SPECIES_ID', how='left')
hummingbirds_merged =hummingbirds_merged.merge(age_df[['AGE_CODE', 'AGE_DESCRIPTION']], on='AGE_CODE', how='left')
hummingbirds_merged =hummingbirds_merged.merge(sex_df[['SEX_CODE', 'SEX_DESCRIPTION']], on='SEX_CODE', how='left')

In [151]:
hummingbirds_merged.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LAT_DD', 'LON_DD', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE',
       'SPECIES_NAME', 'SCIENTIFIC_NAME', 'AGE_DESCRIPTION',
       'SEX_DESCRIPTION'],
      dtype='object')

In [164]:
owl_merged = owls_filtered_df.merge(bird_data_df[['SPECIES_ID', 'SPECIES_NAME', 'SCIENTIFIC_NAME' ]], on='SPECIES_ID', how='left')
owl_merged = owl_merged.merge(age_df[['AGE_CODE', 'AGE_DESCRIPTION']], on='AGE_CODE', how='left')
owl_merged = owl_merged.merge(sex_df[['SEX_CODE', 'SEX_DESCRIPTION']], on='SEX_CODE', how='left')

In [165]:
owl_merged.columns

Index(['BAND', 'ORIGINAL_BAND', 'EVENT_TYPE', 'EVENT_DATE', 'EVENT_YEAR',
       'ISO_COUNTRY', 'LAT_DD', 'LON_DD', 'CP', 'BAND_TYPE', 'SPECIES_ID',
       'BIRD_STATUS', 'AGE_CODE', 'SEX_CODE', 'PERMIT', 'RECORD_SOURCE',
       'SPECIES_NAME', 'SCIENTIFIC_NAME', 'AGE_DESCRIPTION',
       'SEX_DESCRIPTION'],
      dtype='object')

In [153]:
species_count = blue_teal_merged['SPECIES_ID'].nunique()
print(f"Number of different species: {species_count}")

Number of different species: 1

In [146]:
species_count = hummingbirds_merged['SPECIES_ID'].nunique()
print(f"Number of different species: {species_count}")

Number of different species: 47

In [147]:
species_count = flamingo_merged['SPECIES_ID'].nunique()
print(f"Number of different species: {species_count}")

Number of different species: 32

In [166]:
species_count = owl_merged['SPECIES_ID'].nunique()
print(f"Number of different species: {species_count}")

Number of different species: 33

In [159]:
species_to_keep_f = 'American Flamingo'

In [161]:
flamingo_data = flamingo_merged[flamingo_merged['SPECIES_NAME'] == species_to_keep_f]

# Get the number of rows
num_rows = flamingo_data.shape[0]

# Print the count
print(f'Total number of rows: {num_rows}')

flamingo_data

Total number of rows: 1859

,BAND,ORIGINAL_BAND,EVENT_TYPE,EVENT_DATE,EVENT_YEAR,ISO_COUNTRY,LAT_DD,LON_DD,CP,BAND_TYPE,SPECIES_ID,BIRD_STATUS,AGE_CODE,SEX_CODE,PERMIT,RECORD_SOURCE,SPECIES_NAME,SCIENTIFIC_NAME,AGE_DESCRIPTION,SEX_DESCRIPTION
568909,B28809270040,B28809270040,B,10/20/2015,2015,US,25.15833,-80.88583,0.0,41,1820,2.0,1.0,0.0,P7724984,B,American Flamingo,Phoenicopterus ruber,After Hatching Year,Unknown
568910,B39436179941,B39436179941,B,07/22/1964,1964,BS,21.08333,-73.41667,10.0,11,1820,3.0,4.0,0.0,P8958676,B,American Flamingo,Phoenicopterus ruber,Local,Unknown
568911,B49436179936,B49436179936,B,07/22/1964,1964,BS,21.08333,-73.41667,10.0,11,1820,3.0,4.0,0.0,P8958676,B,American Flamingo,Phoenicopterus ruber,Local,Unknown
568912,B99436179923,B99436179923,B,07/22/1964,1964,BS,21.08333,-73.41667,10.0,11,1820,3.0,4.0,0.0,P8958676,B,American Flamingo,Phoenicopterus ruber,Local,Unknown
568913,B99436179914,B99436179914,B,07/22/1964,1964,BS,21.08333,-73.41667,10.0,11,1820,3.0,4.0,0.0,P8958676,B,American Flamingo,Phoenicopterus ruber,Local,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570763,B79339746846,B79339746846,E,99/99/1970,1970,DO,18.25000,-71.25000,10.0,12,1820,NaN,NaN,NaN,NaN,E,American Flamingo,Phoenicopterus ruber,NaN,NaN
570764,B49419149219,B49419149219,E,99/99/1970,1970,DO,NaN,NaN,10.0,21,1820,NaN,NaN,NaN,NaN,E,American Flamingo,Phoenicopterus ruber,NaN,NaN
570765,B39419143029,B39419143029,E,99/99/1970,1970,DO,NaN,NaN,10.0,21,1820,NaN,NaN,NaN,NaN,E,American Flamingo,Phoenicopterus ruber,NaN,NaN
570766,B49149150261,B49149150261,E,03/01/2018,2018,MX,21.15130,-90.07666,0.0,11,1820,NaN,NaN,NaN,NaN,E,American Flamingo,Phoenicopterus ruber,NaN,NaN
570767,B39339744174,B39339744174,E,07/02/2019,2019,BS,21.08333,-73.30000,11.0,12,1820,NaN,NaN,NaN,NaN,E,American Flamingo,Phoenicopterus ruber,NaN,NaN

In [167]:
species_to_keep_h = 'Ruby-throated Hummingbird'

hummingbird_data = hummingbirds_merged[hummingbirds_merged['SPECIES_NAME'] == species_to_keep_h]

# Get the number of rows
num_rows = hummingbird_data.shape[0]

# Print the count
print(f'Total number of rows: {num_rows}')

hummingbird_data

Total number of rows: 252656

,BAND,ORIGINAL_BAND,EVENT_TYPE,EVENT_DATE,EVENT_YEAR,ISO_COUNTRY,LAT_DD,LON_DD,CP,BAND_TYPE,SPECIES_ID,BIRD_STATUS,AGE_CODE,SEX_CODE,PERMIT,RECORD_SOURCE,SPECIES_NAME,SCIENTIFIC_NAME,AGE_DESCRIPTION,SEX_DESCRIPTION
41659,B36833431716,B36833431716,B,07/14/2011,2011,CA,56.90111,-117.70194,0.0,11,4280,3.0,1.0,5.0,P7727252,B,Ruby-throated Hummingbird,Archilochus colubris,After Hatching Year,Female
41660,B36833431798,B36833431798,B,07/16/2011,2011,CA,55.30028,-115.43806,0.0,11,4280,3.0,1.0,5.0,P7727252,B,Ruby-throated Hummingbird,Archilochus colubris,After Hatching Year,Female
41661,B36833431701,B36833431701,B,07/16/2011,2011,CA,55.30028,-115.43806,0.0,11,4280,3.0,1.0,5.0,P7727252,B,Ruby-throated Hummingbird,Archilochus colubris,After Hatching Year,Female
41662,B36833431786,B36833431786,B,07/16/2011,2011,CA,55.30028,-115.43806,0.0,11,4280,3.0,1.0,5.0,P7727252,B,Ruby-throated Hummingbird,Archilochus colubris,After Hatching Year,Female
41663,B86833431771,B86833431771,B,07/17/2011,2011,CA,55.37028,-115.09333,0.0,11,4280,3.0,1.0,4.0,P7727252,B,Ruby-throated Hummingbird,Archilochus colubris,After Hatching Year,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294310,B83833956976,B83833956976,E,05/31/2020,2020,US,39.22195,-80.51724,0.0,11,4280,NaN,NaN,NaN,NaN,E,Ruby-throated Hummingbird,Archilochus colubris,NaN,NaN
294311,B06833370466,B06833370466,E,06/71/2011,2011,ZZ,0.00000,0.00000,NaN,11,4280,NaN,NaN,NaN,NaN,E,Ruby-throated Hummingbird,Archilochus colubris,NaN,NaN
294312,B30833830933,B30833830933,E,08/21/2015,2015,ZZ,0.00000,0.00000,NaN,11,4280,NaN,NaN,NaN,NaN,E,Ruby-throated Hummingbird,Archilochus colubris,NaN,NaN
294313,B90833961919,B90833961919,E,12/15/2017,2017,MX,23.00000,-102.00000,72.0,11,4280,NaN,NaN,NaN,NaN,E,Ruby-throated Hummingbird,Archilochus colubris,NaN,NaN
294314,B80833981659,B80833981659,E,02/06/2020,2020,NI,11.86083,-86.21076,0.0,11,4280,NaN,NaN,NaN,P7710313,E,Ruby-throated Hummingbird,Archilochus colubris,NaN,NaN

In [170]:
species_to_keep_o = 'Northern Saw-whet Owl'

owl_data = owl_merged[owl_merged['SPECIES_NAME'] == species_to_keep_o]

# Get the number of rows
num_rows = owl_data.shape[0]

# Print the count
print(f'Total number of rows: {num_rows}')

owl_data

Total number of rows: 197216

,BAND,ORIGINAL_BAND,EVENT_TYPE,EVENT_DATE,EVENT_YEAR,ISO_COUNTRY,LAT_DD,LON_DD,CP,BAND_TYPE,SPECIES_ID,BIRD_STATUS,AGE_CODE,SEX_CODE,PERMIT,RECORD_SOURCE,SPECIES_NAME,SCIENTIFIC_NAME,AGE_DESCRIPTION,SEX_DESCRIPTION
86913,B59560485454,B59560485454,B,07/14/1960,1960,CA,53.91667,-113.41667,10.0,11,3720,3.0,2.0,0.0,P3935173,B,Northern Saw-whet Owl,Aegolius acadicus,Hatching Year,Unknown
86914,B49560485565,B49560485565,B,07/14/1960,1960,CA,53.91667,-113.41667,10.0,11,3720,3.0,2.0,0.0,P3935173,B,Northern Saw-whet Owl,Aegolius acadicus,Hatching Year,Unknown
86915,B09422720542,B09422720542,B,01/16/1964,1964,CA,52.41667,-113.75000,10.0,11,3720,3.0,1.0,0.0,P8834368,B,Northern Saw-whet Owl,Aegolius acadicus,After Hatching Year,Unknown
86916,B29422720532,B29422720532,B,02/04/1964,1964,CA,52.41667,-113.75000,10.0,11,3720,3.0,1.0,0.0,P8834368,B,Northern Saw-whet Owl,Aegolius acadicus,After Hatching Year,Unknown
86917,B99462844564,B99462844564,B,06/06/1965,1965,CA,53.41667,-113.08333,10.0,11,3720,3.0,1.0,0.0,P4834144,B,Northern Saw-whet Owl,Aegolius acadicus,After Hatching Year,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284124,B28940392540,B28940392540,E,11/18/2020,2020,US,40.27245,-80.56425,0.0,47,3720,NaN,NaN,NaN,P3732133,E,Northern Saw-whet Owl,Aegolius acadicus,NaN,NaN
284125,B48940289302,B48940289302,E,11/01/2021,2021,US,39.24336,-80.05545,0.0,47,3720,NaN,NaN,NaN,P2720732,E,Northern Saw-whet Owl,Aegolius acadicus,NaN,NaN
284126,B18810772587,B18810772587,E,11/05/2021,2021,US,39.39037,-80.08730,11.0,W4,3720,NaN,NaN,NaN,P1719447,E,Northern Saw-whet Owl,Aegolius acadicus,NaN,NaN
284127,B48810740530,B48810740530,E,11/07/2021,2021,US,39.57560,-78.00330,0.0,W4,3720,NaN,NaN,NaN,P7717959,E,Northern Saw-whet Owl,Aegolius acadicus,NaN,NaN
284128,B48810193438,B48810193438,E,04/07/2022,2022,US,41.78999,-107.25985,0.0,W4,3720,NaN,NaN,NaN,NaN,E,Northern Saw-whet Owl,Aegolius acadicus,NaN,NaN

In [171]:
hummingbird_data.to_csv('filtered_hummingbird.csv', index=False)

In [172]:
# Save the filtered DataFrame back to a CSV file
blue_teal_merged.to_csv('filtered_teal.csv', index=False)

In [173]:
# Save the filtered DataFrame back to a CSV file
flamingo_data.to_csv('filtered_flamingo.csv', index=False)

In [174]:
owl_data.to_csv('filtered_owl.csv', index=False)